[Unit]
Description=IT Consultant services
Documentation=file:///opt/it-consultant
Wants=mail-gateway.service reindex.service

[Install]
WantedBy=multi-user.target
Also=mail-gateway.service reindex.service
